*{
	box-sizing: border-box;
}


	body{
		background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
		position: relative;

	}

	header{
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.bless{
		background-color: red;
		/*color: red;*/
	}


	.plus-add {
	  animation-name: example;
	  animation-duration: 2s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  box-sizing: border-box;
	}

	@keyframes example {
	  0%   {width: 100px;  box-sizing: border-box;}
	  25%  {width: 85px;  box-sizing: border-box;}
	  50%  {width: 90px;  box-sizing: border-box;}
	  75%  {width: 95px;  box-sizing: border-box;}
	  100% {width: 100px;  box-sizing: border-box;}
	}



@media only screen and (max-width: 768px){
	header{
		width: 160%;
		margin-top: -58px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.form-control{
		margin-left: -17%;
		background-color: tomato;
	}

}


@media only screen and (max-width: 468px){
	header{
		width: 160%;
		margin-top: -15px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.form-control{
		margin-left: -39px;
		background-color: tomato;
	}

	.plus-add{
		margin-left: 9%;
	}

}

